.App {
  text-align: center;
}

.appMobile {
  text-align: center;
  height: 100vh;
}


.App-logo {
  height: 55vmin;
  pointer-events: none;
}

.mobileAppLogo {
  height: 75vmin;
  pointer-events: none;
  margin: 5vw;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

.regisHeader {
  background-color: #d31145;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: white;
  border-bottom-width: 2px;
  padding: 2vh 10vw;
}

.mobileHeader {
  background-color: #d31145;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom-style: groove;
  border-bottom: white;
  border-bottom-width: 10px;
  padding: 2vh 10vw;
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.3));
}

.mobileNavBar {
  background-color: #d31145;
}

.regisLogo {
  height: 8vmin;
  pointer-events: none;
}

.mobileRegisLogo {
  height: 7vh;
  pointer-events: none;
  margin: auto;
}

.appHeader {
  background-color: #EFEFEF;
  height: 89%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.earthDiv {
  text-align: center;
  width: 100%;
}

.titleTextDiv {
  width: 100%;
  align-content: center;
}

.innerTextDiv {
  text-align: left;
  margin: 10%;
}

.pledgeButton {
  font-size: 20px;
  color: white;
  background-color: #d31145;
  padding: 10px 20px;
  border-radius: 360px;
}

.buttons {
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.3));
}

.shareButtons {
  margin-top: 20px;
}

.shareButton {
  margin: 0px 3px;
}

.titleText {
  font-size: 36px;
  text-align: center;
}

.subTitleText {
  font-size: 24px;
}

.App-link {
  color: #61dafb;
}
