.App {
  text-align: center;
}

.appMobile {
  text-align: center;
}

.App-logo {
  height: 55vmin;
  pointer-events: none;
}

.regisHeader {
  background-color: #d31145;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: white;
  border-bottom-width: 2px;
  padding: 2vh 10vw;
}

.regisLogo {
  height: 8vmin;
  pointer-events: none;
}

.appHeader {
  background-color: #bb0b3a;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.earthDiv {
  text-align: center;
  width: 100%;
  height: 100%;
}

.titleTextDiv {
  width: 100%;
  height: 100%;
  align-content: center;
}

.innerTextDiv {
  text-align: left;
  margin: 10%;
}

.titleText {
  font-size: 36px;
}

.subTitleText {
  font-size: 24px;
}

.App-link {
  color: #61dafb;
}
